/* css/sections/_footer.css */

.main-footer {
    background-color: var(--color-graphite-light); /* Используем ваш темно-синий цвет */
    padding: 15px 15px; /* Очень узкий вертикальный отступ */
    text-align: relative; /* Центрируем весь текст внутри футера */
    color: rgba(107, 180, 240, 0.829);  /* Используем ваш почти белый цвет для текста */
    font-family: 'IBM Plex Sans', sans-serif; /* Ваш основной шрифт для текста */
    font-size: 0.9rem; /* Чуть меньше стандартного размера для дискретности */
    line-height: 1.2; /* Компактный межстрочный интервал */
}

.footer-container {
    max-width: 900px; /* Ограничиваем ширину содержимого футера */
    margin: 0 auto; /* Центрируем сам контейнер с текстом */
}

.footer-text {
    margin-bottom: 5px; /* Небольшой отступ между строками (параграфами) футера */
}

.footer-text:last-child {
    margin-bottom: 0; /* Убираем нижний отступ у последнего параграфа, чтобы футер был компактнее */
}