/* css/sections/standalone-button-section.css */

.action-button-section {
  background-color: #1C2F4D; /* Цвет доски */
  background-image: url('../../images/textures/chalkboard.png'); /* Путь к изображению */
  background-repeat: repeat; /* Повторяется */
  background-size: auto;
  padding-top: 10px;
  padding-bottom: 30px;
  text-align: center; /* КЛЮЧЕВОЕ ДЛЯ ЦЕНТРИРОВАНИЯ INLINE-BLOCK */
}

.action-button-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.call-to-action-btn {
  display: inline-block;
  padding: 12px 30px;
  background-color: var(--color-terracotta);
  color: white;
  text-decoration: none;
  border-radius: 2px;
  font-weight: 500;
  /* Ваши оригинальные свойства */
  transition: all 0.3s; /* Было 0.3s */
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all 0.4s; /* Было 0.4s */
}

.call-to-action-btn:hover {
  transform: translateY(-3px);
  box-shadow:
    0 5px 15px rgba(226, 114, 91, 0.3),
    0 0 20px var(--gold-glow); /* Добавляем свечение золотым цветом */
}

.call-to-action-btn::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    45deg,
    transparent,
    var(--gold-glow),
    transparent
  );
  transform: rotate(45deg);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.4s;
}


.call-to-action-btn:hover::before {
  opacity: 1;
  animation: shine 1.5s infinite;
}